<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html ng-app="myApp">
<head>
  <meta charset="utf-8"/>
  <title>Consumer Client</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-controller="myController">
  <h1>This is a title</h1>
    <ul>
      <li ng-repeat="msg in messages | filter:searchText track by $index">
        {{ '{{msg}}' }}
      </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script>
    var myApp = angular.module('myApp', []);

    myApp.controller('myController', function myController($scope) {
        $scope.messages = [];
        console.log("Foo");
        console.log('Adding listener.');
        var source = new EventSource('/topic/test');
        source.addEventListener('message', function(e){
            console.log('Message');
            console.log(e.data);
            $scope.$apply(function() {
                $scope.messages.push(e.data);
            });
        });
        console.log('Added listener.');
    });

    </script>
    </body>
  </html>
</body>
